.list__book {
	position: relative;
	display: flex;
	justify-content: space-around;
	background-color: #fff;
	padding: 20px;
	border-radius: 25px;
	margin-bottom: 10px;
}
.list__book-name {
	text-align: left;
}
.list__book-count {
	text-align: center;
	font-size: 18px;
}
.list__book-rating {
	text-align: right;
}
.list__book-close {
	position: absolute;
	top: 10px;
	right: -30px;
	font-size: 45px;
	background-color: transparent;
	color: rgba(248, 219, 52, 0.7);
}
.list__book-close:hover {
	color: rgba(248, 219, 52, 1);
}
.list__book-wrapper {
	width: 30%;
}